:root {
  --bg: #00224D;
  --primary: #A0153E;
  --friend: #5D0E41;
  --light: #FF204E;
}

.bg-monk {
  background-color: var(--bg);
}

.bg-ham {
  background-color: var(--friend);
}

.bg-doe {
  background-color: var(--light);
}

.bg-key {
  background-color: var(--primary);
}

body {
  min-height: 2000px;
}

a {
  text-decoration: none;

}

/* Navbar */

/* Hero */
.hero {
  min-height: 65vh;
  background-image: url(img/island.jpg);
  background-size: cover;
  background-position: center;
}

/* About */
.about {
  min-height: max-content;
}

/* Study */
.study {
  min-height: max-content;
}

.galery .card:hover,
.study .card:hover {
  background-color: var(--light);
  cursor: pointer;
}

.galery .card:active,
.study .card:active {
  background-color: var(--light);
}

/* Galery */
.galery {
  min-height: max-content;
}