:root {
  --bg: #1e3d59;
  --primary: #ff6e40;
  --secondary: #ffc13b;
  --light: #f5f0e1;
}

.btn-primary {
  background-color: var(--bg);
  border-color: var(--bg);
}

.btn-warning {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.bg-edu {
  background-color: var(--bg);
}

.bg-edu-light h1,
p,
h2,
h3,
h4 {
  font-family: 'Ubuntu';
  color: var(--bg);
}

.text-light-edu {
  color: var(--light);
}

body {
  background-color: var(--light);
}

/* Navbar */
.navbar {
  background-color: var(--bg);
}

.navbar .navbar-brand {
  font-family: "Ubuntu";
  font-size: 25px;
  color: var(--secondary);
  font-weight: bold;
  text-shadow: 2px 2px rgba(1, 1, 1, 0.9);
}

.navbar .navbar-brand span {
  font-family: "Poetsen One", sans-serif;
  color: var(--primary);
}

.navbar .navbar-nav {
  margin-left: auto;
}

.nav-content {
  margin: 0 2%;
}

.navbar-nav .nav-link {
  color: var(--secondary);
}

.btn-warning {
  background-color: var(--secondary);
}

.btn-warning:hover {
  background-color: var(--primary);
}

.navbar-nav form {
  margin: 0 2%;
}


/* Hero Section */
#home {
  display: flex;
  background-image: url(img/study.jpg);
  min-height: 65vh;
  align-items: center;
  background-size: cover;
  background-position: center;

}

.hero h1 {
  font-family: "Ubuntu";
  color: var(--secondary);
  font-weight: bold;
  text-shadow: 2px 2px rgba(1, 1, 1, 0.9);
}

.hero h1 span {
  font-family: "Poetsen One", sans-serif;
  color: var(--primary);
}

.hero .col .card {
  margin-left: auto;
}

.card button {
  display: block;
  margin-left: auto;
}

button {
  font-family: 'Ubuntu';
}

/* About Section */
.about {
  min-height: 90vh;
}

.about h2,
.testi h2 {
  margin-top: 3%;
}

.about-content {
  margin-top: 3%;
}

.about .tombol {
  margin-top: 2%;
}

/* Testimoni */
.testi {
  min-height: 90vh;
  background-color: var(--bg);
}



.testi .row {
  margin: 2% auto;
}